<h1>Connect 4</h1>

<div class="game">
  <div [ngClass]="['player', this.currentPlayer === 'red' ? 'active-' + this.currentPlayer : '']">
    <h2>Player Red</h2>
  </div>
  <div class="board">
    @for (row of board; let rowIndex = $index; track rowIndex) { @for (cell of
    row;let cellIndex = $index; track cellIndex) {
    <div class="cell-container" (click)="cellClicked(rowIndex, cellIndex)" (mouseenter)="mouseenter(cellIndex)" (mouseleave)="mouseleave(cellIndex)">
      <div [ngClass]="['hole', cell.isHovered ? 'hovered' : '']">
        <div
          [ngClass]="[cell.state === 'empty' ? 'empty' : 'filled', cell.state, 'game-piece']"
        ></div>
      </div>
    </div>
    } }
  </div>
  <div [ngClass]="['player', this.currentPlayer === 'yellow' ? 'active-' + this.currentPlayer : '']">
    <h2>Player Yellow</h2>
  </div>
</div>
