@page "/game/{GameId:guid}"
@attribute [StreamRendering]

<PageTitle>Spiel</PageTitle>

<h3>@this.Game?.Name</h3>

<div class="d-flex flex-column gap-2">
    <PlayerSlot />
</div>

<MudButton OnClick="AbortGame">Spiel Abbrechen</MudButton>

<MudOverlay Visible="this.Game?.IsAborted ?? false" DarkBackground="true" AutoClose="false">
    <MudStack Spacing="3">
        <MudText Typo="Typo.h2" >Spiel wurde abgebrochen</MudText>
        <MudButton OnClick="CloseGame">Schliessen</MudButton>
    </MudStack>
</MudOverlay>
