@page "/game/{GameId:guid}"
@attribute [StreamRendering]

<PageTitle>Spiel</PageTitle>

@if (this.Game != null)
{
    <h3>@this.Game.Name</h3>

    <MudContainer>
        <div class="d-flex flex-row justify-content-center gap-3 p-3 h-25">
            <PlayerSlot GameId="this.Game.Id" PlayerClient="this.YellowPlayer" />
            <PlayerSlot GameId="this.Game.Id" PlayerClient="this.RedPlayer" />
        </div>

        <MudButton FullWidth="true" OnClick="AbortGame">Spiel Abbrechen</MudButton>
    </MudContainer>

    <MudOverlay Visible="this.Game?.IsAborted ?? false" DarkBackground="true" AutoClose="false">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h2">Spiel wurde abgebrochen</MudText>
            <MudButton OnClick="CloseGame">Schliessen</MudButton>
        </MudStack>
    </MudOverlay>
}


