@page "/visualizers"
@attribute [StreamRendering]

<PageTitle>Roboter</PageTitle>

<h3>Roboter</h3>

<div class="d-flex flex-column gap-2">
    <MudPaper Elevation="25">
        <MudToolBar>
            <VisualizerCreationButton/>
        </MudToolBar>
    </MudPaper>

    <VisualizerOverview />
</div>


