<AuthorizeView>
    <Authorized>
        <div class="d-flex flex-row justify-content-evenly gap-3">
            <MudLink Href="MicrosoftIdentity/Account/EditProfile">
                @context.User.Identity?.Name
            </MudLink>
            <MudLink Href="MicrosoftIdentity/Account/SignOut">Log out</MudLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <MudLink Href="MicrosoftIdentity/Account/SignIn">Log in</MudLink>
    </NotAuthorized>
</AuthorizeView>
