<div class="d-flex flex-column justify-content-center align-content-start gap-3 p-3">

    @if (this.IsSlotFree)
    {
        <MudMenu PositionAtCursor="true">
            <ActivatorContent>
                <MudAvatar Style="height:200px; width:200px;" Color="Color.Dark" Variant="Variant.Outlined">
                    <MudIcon Style="height:100px; width:100px;" Icon="@Icons.Material.Outlined.Person" Size="Size.Large" />
                </MudAvatar>
            </ActivatorContent>
            <ChildContent>
                @foreach (var client in this.AvailablePlayerClients)
                {
                    <MudMenuItem OnClick="async () => await this.JoinClient(client)">@client.DisplayName</MudMenuItem>
                }
            </ChildContent>
        </MudMenu>
    }
    else
    {
        <MudBadge Origin="Origin.TopCenter" Overlap="true" Bordered="true" Color="this.PlayerClient.Player?.IsReady ?? false ? Color.Success : Color.Error">
            <PlayerDisplay PlayerClient="this.PlayerClient"/>
        </MudBadge>
    }

    <div class="d-flex flex-column justify-content-center align-content-center gap-1 p-3">
        @if (!this.IsSlotFree)
        {

            @if (this.PlayerClient.Player!.Owner.Identifier == this.CurrentUser?.Identifier)
            {
                <MudPaper Outlined="true" Elevation="0">
                    <MudCheckBox Size="Size.Large"
                                 T="bool"
                                 ValueChanged="this.ReadyChanged"
                                 Value="this.PlayerClient.Player?.IsReady ?? false"
                                 UnCheckedColor="Color.Error"
                                 Color="Color.Success"
                                 Dense="true"
                                 Style="width:150px"
                                 Label="Bereit"></MudCheckBox>
                </MudPaper>
                <MudButton DisableElevation="true" Variant="Variant.Outlined" OnClick="Leave">Verlassen</MudButton>
            }
            else
            {
                <MudPaper Outlined="true" Elevation="0">
                    <MudText>@this.PlayerClient.Player!.Owner.DisplayName</MudText>
                </MudPaper>
                <MudButton DisableElevation="true" Variant="Variant.Outlined" OnClick="Leave">Entfernen</MudButton>
            }

        }
        else
        {
            <MudSpacer />
        }
    </div>
</div>