<MudCard Style="width: 150" Elevation="2">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText GutterBottom="true" Typo="Typo.body1">@this.PlayerClient.Player!.Owner.DisplayName</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <div class="position-relative">
        <MudCardMedia Image="@($"_content/Connect4.Frontend/images/{this.PlayerClient.PlayerImage}")" Height="150" />
        @if (this.IsCurrentPlayer)
        {
            <div class="d-flex justify-content-center" style="position:absolute; left: 0; bottom: 2px; width: 100%;">
                <MudChip Color="@(this.PlayerClient.PlayerSide == global::Game.Contract.PlayerSide.Red ? Color.Error : Color.Warning)">@(this.PlayerClient.PlayerSide == global::Game.Contract.PlayerSide.Red ? "ROT" : "GELB")</MudChip>
            </div>
        }
    </div>
</MudCard>

