@rendermode InteractiveServer
@page "/"
@using MediatR
@using Game.Contract
@using Game.Contract.Commands
@using Game.Domain.GameProjections
@using Visualizer.Physical.Infrastructure

@code {

    [Inject]
    private IMediator Mediator { get; set; } = null!;

    [Inject]
    private IVisualizerMqttClient MqttClient { get; set; } = null!;

    [Inject]
    private IGamesQuery GamesQuery { get; set; } = null!;

    private Guid? GameId { get; set; }

    public IReadOnlyList<GameSummary> Games { get; set; } = [];

    public string? MqttPayload { get; set; }
    public string MqttTopic { get; set; } = "IT_to_R001";

    private async Task CreateGame()
    {
        Console.WriteLine("My debug output.");
        this.GameId = await this.Mediator.Send(new CreateGameCommand());
    }

    private async Task RenameGame()
    {
        if (this.GameId == null)
            return;

        await this.Mediator.Send(new UpdateGameNameCommand(new GameId(this.GameId.Value), "New Game Name"));
    }

    private async Task GetGames()
    {
        this.Games = await this.GamesQuery.GetAllGames();
    }

    private void SendToBroker()
    {
        if (string.IsNullOrWhiteSpace(this.MqttPayload))
            return;

        this.MqttClient.PublishAsync(this.MqttTopic, this.MqttPayload);
    }

}

<PageTitle>Playground</PageTitle>

<h1>Current Game: @GameId</h1>

<MudButton @onclick="CreateGame">Create</MudButton>
<MudButton @onclick="RenameGame">Rename</MudButton>
<MudButton @onclick="GetGames">Show Games</MudButton>

<MudSimpleTable>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in this.Games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudDivider />

<MudTextField Label="Payload" @bind-Value="MqttPayload"></MudTextField>
<MudTextField Label="Topic" @bind-Value="MqttTopic"></MudTextField>
<MudButton @onclick="SendToBroker">Send To MQTT</MudButton>

