@rendermode InteractiveServer
@page "/"
@using Connect4.Frontend.Visualizer

<PageTitle>Playground</PageTitle>

<h3>Playground</h3>

<div class="d-flex flex-column gap-4">
    <MudPaper Class="p-3" Elevation="25">
        <MudText>Current Game: @GameId</MudText>
        <MudButton @onclick="CreateGame">Create</MudButton>
        <MudButton @onclick="RenameGame">Rename</MudButton>
        <MudButton @onclick="GetGames">Show Games</MudButton>
        <MudSimpleTable>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in this.Games)
                {
                    <tr>
                        <td>@game.Id</td>
                        <td>@game.Name</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudPaper>

    <MudPaper Class="p-3" Elevation="25">
        <MudTextField Label="Payload" @bind-Value="MqttPayload"></MudTextField>
        <MudTextField Label="Topic" @bind-Value="MqttTopic"></MudTextField>
        <MudButton @onclick="SendToBroker">Send To MQTT</MudButton>
    </MudPaper>
    <VisualizerOverview />
</div>