@rendermode InteractiveServer
@page "/visualizers"
@using MediatR
@using System.ComponentModel.DataAnnotations
@using Visualizer.Contract
@using Visualizer.Contract.Commands
@using Visualizer.Contract.Queries

@attribute [StreamRendering]

<PageTitle>Roboter</PageTitle>

<h1>Roboter</h1>

@if (visualizers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudButton @onclick="CreateNewVisualizer">Create New</MudButton>

    <MudSimpleTable>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visualizer in this.visualizers)
            {
                <tr>
                    <td>@visualizer.Id</td>
                    <td>@visualizer.Name</td>
                    <td>
                        <MudButton @onclick="async () => await SelectVisualizer(visualizer.Id)">Edit</MudButton>
                        <MudButton @onclick="async () => await DeleteVisualizer(visualizer.Id)">Delete</MudButton>
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>

    if (SelectedVisualizer != null)
    {
        <MudDivider />
        <MudCard>
            <MudCardContent>
                <MudTextField @bind-Value="SelectedVisualizer.Name" Label="Name"></MudTextField>
                <MudTextField @bind-Value="SelectedVisualizer.ExternalId" Label="External ID"></MudTextField>
            </MudCardContent>
            <MudCardActions>
                <MudButton @onclick="SaveVisualizer" Variant="Variant.Text" Color="Color.Primary">Save</MudButton>
            </MudCardActions>
        </MudCard>
    }

}

@code {
    [Inject]
    private ISender Mediator { get; set; } = null!;

    private IReadOnlyList<VisualizerSummaryDto>? visualizers;

    private VisualizerEditTemplate? SelectedVisualizer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadVisualizersAsync();
    }

    private async Task LoadVisualizersAsync()
    {
        this.visualizers = await this.Mediator.Send(new AllVisualizersQuery());
    }

    private async Task SelectVisualizer(VisualizerId id)
    {
        var visualizerDetail = await this.Mediator.Send(new VisualizerByKeyQuery { VisualizerId = id });
        this.SelectedVisualizer = new VisualizerEditTemplate
            {
                Id = visualizerDetail.Id,
                Name = visualizerDetail.Name,
                ExternalId = visualizerDetail.ExternalId,
            };
    }

    private async Task DeleteVisualizer(VisualizerId visualizerId)
    {
        await this.Mediator.Send(new DeleteVisualizerCommand
            {
                VisualizerId = visualizerId
            });

        await this.LoadVisualizersAsync();
    }

    private class VisualizerEditTemplate
    {
        public VisualizerId? Id { get; set; }
        public string? Name { get; set; }
        public string? ExternalId { get; set; }
    }

    private async Task SaveVisualizer()
    {
        if (this.SelectedVisualizer == null)
            return;

        if (this.SelectedVisualizer.Id == null)
        {
            await this.Mediator.Send(new CreateVisualizerCommand()
                {
                    Name = this.SelectedVisualizer.Name ?? throw new ValidationException("Name muss ausfgefüllt werden"),
                    ExternalId = this.SelectedVisualizer.ExternalId ?? throw new ValidationException("ExternalId muss ausfgefüllt werden"),
                });
        }
        else
        {
            await this.Mediator.Send(new UpdateVisualizerCommand
                {
                    VisualizerId = this.SelectedVisualizer.Id,
                    Name = this.SelectedVisualizer.Name ?? string.Empty,
                    ExternalId = this.SelectedVisualizer.ExternalId ?? string.Empty,
                });
        }


        this.SelectedVisualizer = null;

        await LoadVisualizersAsync();
    }

    private void CreateNewVisualizer()
    {
        this.SelectedVisualizer = new VisualizerEditTemplate();
    }



}
