<div class="d-flex flex-row gap-3 p-3">
    <MudButton Variant="Variant.Filled" Color="Color.Primary">Quickplay</MudButton>
    @* TODO Quickplay funktionalität ermöglichen *@
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateGame">
        <MudStack Row="true" Spacing="2">
            @if (this.IsCreating)
            {
                <MudProgressCircular Indeterminate="true" />
            }
            <MudText Typo="Typo.button">Spiel hosten</MudText>
        </MudStack>
    </MudButton>
</div>