@rendermode InteractiveServer
@page "/"

<PageTitle>Vier Gewinnt</PageTitle>

<div class="d-flex flex-column gap-2">
    <MudPaper Elevation="25">
        <MudToolBar>
            <GameCreationButtons/>
        </MudToolBar>
    </MudPaper>

    <GameLobbiesOverview />
</div>
